@model Amigo
@* VISTA FUERTEMENTE TIPADA*@
@{

    Layout = "~/Views/share/_Layout.cshtml";
    ViewBag.Title = "AMIGOS INDICE";
}

<h1>@ViewData["Cabecera"]</h1>
@{
    var amigo = ViewData["Amigo"] as tutoria_net_core.Models.Amigo;//traemos la referencia del modelo amigo q es la clase
}
<div>
    Nombre:@amigo.nombre
</div>
<div>
    email:@amigo.email
</div>
<div>
    ciudad:@amigo.ciudad
</div>



<h1>@ViewBag.Cabecera</h1>

<div>
    Nombre:@ViewBag.amigo.nombre
</div>
<div>
    email:@ViewBag.amigo.email
</div>
<div>
    ciudad:@ViewBag.amigo.ciudad
</div>

<h1>FUERTEMENTE TIPADO</h1>

<div>
    Nombre:@amigo.nombre
</div>
<div>
    email:@amigo.email
</div>
<div>
    ciudad:@amigo.ciudad
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script src="C:\Users\Usuario1\Documents\tutoria net core\tutoria net core\Views\js\JavaScript.js"></script>
}

