@model tutoria_net_core.Models.Amigo 
 @* VISTA FUERTEMENTE TIPADA*@ 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>@ViewData["Cabecera"]</h1>
    @{
        var amigo = ViewData["Amigo"] as tutoria_net_core.Models.Amigo;//traemos la referencia del modelo amigo q es la clase
    }
    <div>
        Nombre:@amigo.nombre
    </div>
    <div>
        email:@amigo.email
    </div>
    <div>
        ciudad:@amigo.ciudad
    </div>



    <h1>@ViewBag.Cabecera</h1>

    <div>
        Nombre:@ViewBag.amigo.nombre
    </div>
    <div>
        email:@ViewBag.amigo.email
    </div>
    <div>
        ciudad:@ViewBag.amigo.ciudad
    </div>

    <h1>FUERTEMENTE TIPADO</h1>

    <div>
        Nombre:@amigo.nombre
    </div>
    <div>
        email:@amigo.email
    </div>
    <div>
        ciudad:@amigo.ciudad
    </div>


</body>
</html>
