@model List<Amigo>

@{ 

    Layout = "~/Views/share/_Layout.cshtml";
    ViewBag.Title = "AMIGOS INDICE";
}

    <h1>lista de objetos</h1>

    <table>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>email</th>
            <th>ciudad</th>

        </tr>
        <tr>
            @foreach (var amigo in Model)
            {
            <tr>
                <td>@amigo.Id    </td>
                <td>@amigo.nombre</td>
                <td>@amigo.email </td>
                <td>@amigo.ciudad</td>
            </tr>
             }

         </tr>

        </table>

